/node_modules
/public/hot
/public/storage
/public/uploads
/public/files
/public/xml
/storage/*.key
/vendor
.idea/
.idea/*
.env
.env.backup
composer.lock
package-lock.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/test/test.log
storage/mail/info.log
